
.Game {

  display: grid;
  justify-content: center;
  align-items: center;
}

body {
  padding: 0;
  margin: 0;
}

.board {
  transform: rotate(-0.02turn) !important;
}

.block {
  flex: 33%;
  height: 100%;
  border: 1px solid black;
  cursor: pointer;
}